# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

.vscode

# Ignore the libs folder and backups
script/system-models.mwb.bak
script/system-models.mwb
